{% set datamap = salt['grains.filter_by']({
  'Debian': {
    'ssh_purge_files': [
      '/etc/ssh/ssh_host_dsa_key',
      '/etc/ssh/ssh_host_dsa_key.pub',
      '/etc/ssh/ssh_host_rsa_key',
      '/etc/ssh/ssh_host_rsa_key.pub',
      '/etc/ssh/ssh_host_ecdsa_key',
      '/etc/ssh/ssh_host_ecdsa_key.pub',
      '/etc/ssh/ssh_host_ed25519_key',
      '/etc/ssh/ssh_host_ed25519_key.pub',
    ],
    'salt_purge_files': [
      '/etc/salt/minion_id',
      '/etc/salt/pki/minion/minion_master.pub',
      '/etc/salt/pki/minion/minion.pem',
      '/etc/salt/pki/minion/minion.pub',
    ],
    'shutdown_script_template': 'salt://baseimage/templates/baseimage_shutdown.sh.Debian.jinja'
  },
}, merge=salt['pillar.get']('baseimage:lookup')) %}
