{%- from "baseimage/map.jinja" import datamap with context %}
#!/bin/sh
/etc/init.d/salt-minion stop

{%- for file in datamap['ssh_purge_files'] %}
/bin/rm -f "{{ file }}"
{%- endfor %}
{%- for file in datamap['salt_purge_files'] %}
/bin/rm -f "{{ file }}"
{%- endfor %}

/usr/bin/apt-get -q update
/usr/bin/apt-get -qy --force-yes dist-upgrade
/usr/bin/apt-get autoremove
/usr/bin/apt-get clean

# The next time salt starts, it will call state.sls firstboot
touch /var/cache/salt/firstboot

poweroff
